<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Finance management system</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

  <style>
    h2 {
      margin-top: 25px;
    }
  </style>

</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" th:href="@{/transactions}">Finance management</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item" sec:authorize="isAuthenticated()">
            <a class="nav-link" th:href="@{/transactions/new}">Add</a>
          </li>
          <li class="nav-item" sec:authorize="isAuthenticated()">
            <a class="nav-link" th:href="@{/expenses}">Expenses</a>
          </li>
          <li class="nav-item" sec:authorize="isAuthenticated()">
            <a class="nav-link" th:href="@{/income}">Income</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item" sec:authorize="isAuthenticated()">
            <span class="nav-link text-light">Logged in: <b sec:authentication="name"></b></span>
          </li>
          <li class="nav-item" sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="POST" class="d-inline">
              <button type="submit" class="btn btn-outline-light btn-sm mt-1">Logout</button>
            </form>
          </li>
          <li class="nav-item" sec:authorize="!isAuthenticated()">
            <a class="nav-link" th:href="@{/login}">Login</a>
          </li>
          <li class="nav-item" sec:authorize="!isAuthenticated()">
            <a class="nav-link" th:href="@{/register}">Register</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-4">
    <div class="row">
      <h1>Expenses list</h1>
    </div>
    
    <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>

    <table id="transactionTable" class="table table-striped table-bordered table-hover">
      <thead class="table-dark">
        <tr>
          <th>Expense name</th>
          <th>Category</th>
          <th>Amount</th>
          <th>Expense date</th>
          <th sec:authorize="isAuthenticated()">Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr th:each="transaction: ${transactions}" th:if="${transaction.type == 'expense'}">
          <td th:text="${transaction.productName}"></td>
          <td th:text="${transaction.categoryName}"></td>
          <td th:text="${transaction.transactionAmount}"></td>
          <td th:text="${transaction.transactionTime}"></td>
          <td class="mx-auto" style="width: 200px;" sec:authorize="isAuthenticated()">
            <form th:action="@{/transactions/{id}/delete(id=${transaction.id})}" method="POST" style="display: inline;" 
                  onsubmit="return confirm('Are you sure you want to delete this transaction?')">
              <button type="submit" class="btn btn-danger mb-1">Delete</button>
            </form>
            <a th:href="@{/transactions/edit/{id} (id=${transaction.id})}" class="btn btn-success mb-1">Edit</a>
          </td>
        </tr>
      </tbody>
    </table>
    <h3>Sum of expenses: <span th:text="${expenseSum}"></span></h3>

    <h2>Expenses by category:</h2>
    <table class="table table-striped table-bordered table-hover" data-toggle="table" data-sortable="true">
      <thead class="table-dark">
        <tr>
          <th data-field="categoryName" data-sortable="true">Category name</th>
          <th data-field="transactionAmount" data-sortable="true">Amount</th>
          <th>Percentage</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="entry : ${expenseByCategory}">
          <td th:text="${entry.key}"></td>
          <td th:text="${entry.value}"></td>
          <td th:text="${percentageByCategory[entry.key]}"></td>
        </tr>
      </tbody>
    </table>

    <h2>Expenses by month:</h2>
    <table class="table table-striped table-bordered table-hover" data-toggle="table" data-sortable="true">
      <thead class="table-dark">
        <tr>
          <th data-field="transactionTime" data-sortable="true">Month</th>
          <th data-field="transactionAmount" data-sortable="true">Amount</th>
          <th>Percentage</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="entry : ${expenseByMonth}">
          <td th:text="${entry.key}"></td>
          <td th:text="${entry.value}"></td>
          <td th:text="${percentageByMonth[entry.key]}"></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>
